:root{
    --primary-color: hsl(263, 55%, 52%);
    --secondary-color: hsl(217, 19%, 35%);
    --tertiary-color: hsl(219, 29%, 14%);
    --fouthary-color: hsl(0, 0%, 100%);

    --fifthary-color: hsl(0, 0%, 81%);
    --sixthary-color:  hsl(210, 46%, 95%);
}

body{
    font-size: .8125rem ;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--sixthary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 4.375rem .9375rem;
}

.personal-container{
    display: flex;
    align-items: center;
}

.personal-container img{
    border-radius: 50%;
    margin-right: .9375rem ;
}


.personal-container h2{
    margin: 0;
}

.personal-container span{
    color: var(--fifthary-color);
}

section{
    border-radius: .9375rem;
    padding: 1.5625rem ;
    margin-bottom: 1.25rem ;
    color: var(--fouthary-color);
}

section:first-child{
    background-color: var(--primary-color);
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x:calc(100% - 1.25rem) ;
    grid-area: section1;
}

section:nth-child(2){
    background-color: var(--secondary-color);
    grid-area: section2;
}

section:nth-child(3){
    background-color: var(--fouthary-color);
    color: var(--tertiary-color);
    grid-area: section3;
}

section:nth-child(4){
    background-color: var(--tertiary-color);
    grid-area: section4;
}

section:nth-child(5){
    background-color: var(--fouthary-color);
    color: var(--tertiary-color);
    grid-area: section5;
}

section p{
    color: var(--fifthary-color);
}

section:nth-child(3) p,
section:nth-child(5) p{
    color: var(--secondary-color);
}

@media screen and (min-width: 48rem){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1f 1f;
        grid-template-areas: 
        "section1 section1 section2 section5"
        "section3 section4 section4 section5";
    }

    section{
        margin-right: 1.5625rem;
    }

    section:nth-child(5){
       margin-right: 0;
    }
}

@media screen and (min-width: 75rem){
    main{
       max-width: 70rem;
    }
}